{{ define "main" }}
  <article class="mt-10 flex h-full flex-col items-center justify-center text-center">
    <header class="mb-3 flex flex-col items-center">
      {{ with .Site.Params.Author.headline }}
        <h2 class="text-xl text-neutral-500 dark:text-neutral-400">
          {{ . | markdownify | emojify }}
        </h2>
      {{ end }}
      {{ with .Content }}
        <section class="prose pt-5 dark:prose-invert">{{ . | emojify }}</section>
      {{ end }}
    </header>
    {{ with .Site.Params.Author.links }}
      <div class="mt-4 flex min-w-full flex-col flex-wrap sm:min-w-0">
        {{ range $links := . }}
          {{ range $type, $data := $links }}
            {{ $href := $data }}
            {{ $icon := $type }}
            {{ $text := i18n (printf "link.%s" $type) }}
            {{ $target := "_blank" }}
            {{ $title := "" }}
            {{ if reflect.IsMap $data }}
              {{ with $data.href }}{{ $href = . }}{{ end }}
              {{ with $data.icon }}{{ $icon = . }}{{ end }}
              {{ with $data.text }}{{ $text = . }}{{ end }}
              {{ with $data.target }}{{ $target = . }}{{ end }}
              {{ with $data.title }}{{ $title = . }}{{ end }}
            {{ end }}
            <a
              class="link link-{{ $type }} mb-3 min-w-full rounded-xl py-3 text-lg font-medium transition-[filter] duration-200 sm:px-24"
              href="{{ $href }}"
              target="{{ $target }}"
              {{ with $title }}title="{{ . }}"{{ end }}
              rel="me noopener noreferrer"
            >
              {{- with $icon -}}
                {{- partial "icon.html" (dict "name" . "class" "icon relative mr-1 inline-block align-text-bottom h-[1em] w-[1em]") -}}
              {{- end -}}
              {{ $text | emojify }}
            </a>
          {{ end }}
        {{ end }}
      </div>
    {{ end }}
  </article>
{{ end }}
